<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style type="text/css">
      h2, h3 {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h2 align="center" style="color: blue" onclick="window.location.href = '/'">Library</h2>
    <button onclick="window.location.href = '/logout'" style="float: right">Logout</button>

    {% if user.is_authenticated %}
      <h4 style="float: right">{{ user.username }}</h4>
    {% else %}
      <button onclick="window.location.href = '/login'" style="float: right">Log in</button>
      <button onclick="window.location.href = '/signup'" style="float: right">Sign up</button>
    {% endif %}

    <div style="position:absolute">
    {% block filter %} {% endblock filter %}
    </div>

    <div class="container">

      {% block home %} {% endblock %}
      {% block book %} {% endblock %}
      {% block author %} {% endblock %}
      {% block orders %} {% endblock %}
      {% block order %} {% endblock %}
      {% block signup %} {% endblock %}
      {% block login %} {% endblock %}

    </div>

  </body>
</html>