{% extends 'base.html' %}


{% block book %}

  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item active"><h3 style="color: blue">{{ book }}</h3></li>
  </ol>
  <h5><b>Author: {{ book.author.first_name}} {{ book.author.last_name}},
  Genre:
    {% for genre in genres %}
      {{ genre }}
    {% endfor %}
  </b></h5>
  <button><a href = "{% url 'create' book.id %}" style="align: left">Add to my cart</a></button>
  <button onclick="window.location.href = '/cart'" style="align: left">My cart</button><br>
  <img src="{{ book.image.image.url }}"
       alt="{{ book.title }}"
       width="200"
       title="{{ book.title }}"
       align="left"
       style="margin: 0px 20px 10px 0px"
  />

  {{ book.description | safe }}

{% endblock %}