{% extends 'base.html' %}

{% block home %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">
    <h3 style="color: blue">
    Cart
    </h3>
    <div align="right">My wallet: {{ user.wallet }}$</div>
  </li>
</ol>


<form action="/suborder/create " method="get">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Pages</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>


    <tbody>
    {% for book in books %}
      <tr>
        <td>
          <a href="{% url 'book' book.id %}">{{ book.title }}</a>
        </td>
        <td>
          <a href="{% url 'author' book.author.id %}">{{ book.author.first_name }} {{ book.author.last_name }}</a>
        </td>
        <td>{{ book.year }}</td>
        <td> {% for genre in book.genre.all %}
               {{ genre }}<br>
             {% endfor %}
        </td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price }}</td>
        <td>
          <input name="books_quantity"
                 oninput="javascript: if (this.value.length > this.maxLength)
                          this.value = this.value.slice(0, this.maxLength);"
                 type = "number"
                 style="width: 3em"
                 value="1"
                 min="1"
                 max="12"
                 maxlength = "2"
          />
        </td>
        <td><button><a href="{% url 'delete_one' book.id %}" style="float: right">delete</a></button></td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
    <input type="submit" value="Create order" style="float: right">
</form>


<div align="center">Total price: {{ book.price }}</div><br>
<button onclick="window.location.href = '/order'" style="float: right">Look my orders</button>
<button onclick="window.location.href = '/cart/delete_all'" style="float: right">Clear the cart</button>

{{ session_data }}

{% endblock %}
