{% extends 'base.html' %}

{% block home %}

<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">
    <h5 style="color: blue">
    Please, choose the book and click 'submit' to add it to your order
    </h5>
    <div align="right">My wallet: {{ user.wallet }}$</div>
  </li>
</ol>

<form action="/cart/update " method="get" >
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Pages</th>
        <th>Price</th>
        <th>In stock</th>
        <th>add to cart</th>
      </tr>
    </thead>


    <tbody>
    {% for book in books %}
      <tr>
        <td>
          <a href="{% url 'book' book.id %}">{{ book.title }}</a>
        </td>
        <td>
          <a href="{% url 'author' book.author.id %}">{{ book.author.first_name }} {{ book.author.last_name }}</a>
        </td>
        <td>{{ book.year }}</td>
        <td> {% for genre in book.genre.all %}
               {{ genre }}<br>
             {% endfor %}
        </td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.quantity }}</td>
        <td><input type="checkbox" style="margin: auto" name="book_id" value="{{ book.id }}"></td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="add to my cart">
</form>

<div align="center">Total price: {{ book.price }}</div><br>
<button onclick="window.location.href = '/order'" style="float: right">My orders</button><br>
<button onclick="window.location.href = '/cart'" style="float: right">My cart</button>

{% endblock %}

{% block filter%}
<form action=" " method="get">
  <div align="left">
    <b>By author:</b><br>
    {% for author in authors %}
      {{ author }}<input type="checkbox" style="margin: auto" name="author_id" value="{{ author.id }}"><br>
    {% endfor %}
  </div>

  <div align="left">
    <b>By genre:</b><br>
    {% for genre in genres %}
      {{ genre }}<input type="checkbox" style="margin: auto" name="genre_id" value="{{ genre.id }}"><br>
    {% endfor %}
  </div>
   <input type="submit" value="filter">
</form>

{% endblock filter%}
