{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block login %}

Username: {{ user }}, e-mail: {{ user.email }}
            <form method="post" novalidate>
              {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block"><h2>Log in</h2></button>
            </form>






<div class="text-center py-2">
          <small>
            <a href="#" class="text-muted">Forgot your password?</a>
          </small>
        </div>

{% endblock login %}